<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieMate - Movie Detail</title>
    <link rel="icon" href="../../images/moviemate-logo.png">
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
    <link rel="stylesheet" type="text/css" href="../../css/details.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        .blur-background {
            /* backdrop-filter: blur(3px); */
            background-size: cover !important;
            background-position: top bottom !important;
        }
    </style>
</head>

<body class="<%= detailsData.backdrop_path ? 'blur-background' : '' %>" <% if (detailsData.backdrop_path) { %>
    style="background-image: url('https://image.tmdb.org/t/p/original<%= detailsData.backdrop_path %>') !important;"
        <% } %>
            >
            <nav class="navbar navbar-expand-lg navbar-dark bg-black">
                <a class="navbar-brand" href="/"><img src="../../images/moviemate.png" alt="MovieMate"
                        style="width: auto; height: 30px;"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/"><i class="fas fa-home"
                                    style="margin-left: 5px; margin-right: 5px;"></i> Home
                            </a>
                        </li>
                        <li id="search-btn" class="nav-item active">
                            <a class="nav-link" href="/searchForm"><i class="fas fa-search"
                                    style="margin-left: 5px; margin-right: 5px;"></i> Search</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="container">
                <div class="row">
                    <div class="col-md-12" style="padding-left: 0px;">
                        <a href="/search?keywords=<%= keywords %>&type=<%= type %>"
                            class="btn btn-default" style="margin-bottom: 10px;"><i class="fas fa-chevron-left"></i> Back</a>
                        <!-- add a 'add to favorite button on the right' -->
                        <!-- <a id="remove-from-favorites" class="btn btn-default" style="margin-bottom: 10px; float: right;"><i class="fas fa-heart"></i> Remove from Favorites</a>
                        <a id="add-to-favorites" class="btn btn-default" style="margin-bottom: 10px; float: right;"><i class="far fa-heart"></i> Add to Favorites</a> -->
                        
                        
                    </div>
                    <div class="col-md-4">
                        <img src="https://image.tmdb.org/t/p/w500<%= detailsData.poster_path %>" alt="Movie Poster"
                            class="poster">
                            <% if (detailsData.poster_path && detailsData.poster_path !== '404' && detailsData.poster_path !== '500') { %>
                                <img class="poster" src="https://image.tmdb.org/t/p/w500<%= detailsData.poster_path %>" alt="Movie Poster">
                              <% } else { %>
                                <% if (type === 'movie') { %>
                                    <img class="poster" src="/images/movie-placeholder.jpg" alt="Placeholder Image">
                                  <% } else { %>
                                    <img class="poster" src="/images/show-placeholder.jpg" alt="Placeholder Image">
                                  <% } %>
                              <% } %>
                    </div>
                    <div class="col-md-8">
                            <h2 style="text-align: center;">
                                <% if(type==='movie' ) { %>
                                    <%= detailsData.title %>
                                <% } else { %>
                                    <%= detailsData.name %>
                                <% } %>
                            </h2>
                            <h4 style="text-align: center;">
                                <% if (detailsData.tagline) { %>
                                    <%= detailsData.tagline %>
                                <% } %>
                            </h4>
                            <ul class="list-group">
                                <% if (detailsData.genres) { %>
                                    <li class="list-group-item"><strong>Genre:</strong>
                                        <% detailsData.genres.forEach(function(genre) { %>
                                            <%= genre.name %>
                                                <% if (genre !==detailsData.genres[detailsData.genres.length - 1]) { %>, 
                                            <% } %>
                                        <% }) %>
                                    </li>
                                <% } %>
                                <% if(type==='movie' ) { %>
                                    <% if (detailsData.release_date) { %>
                                        <li class="list-group-item"><strong>Released:</strong>
                                            <%= detailsData.release_date %>
                                        </li>
                                    <% } %>
                                    <% if (detailsData.runtime) { %>
                                        <li class="list-group-item"><strong>Runtime:</strong>
                                            <%= detailsData.runtime %>
                                        </li>
                                    <% } %>
                                <% } else { %>
                                    <% if (detailsData.first_air_date) { %>
                                        <li class="list-group-item"><strong>First Air Date:</strong>
                                            <%= detailsData.first_air_date %>
                                        </li>
                                    <% } %>
                                    <% if (detailsData.last_air_date) { %>
                                        <li class="list-group-item"><strong>Last Air Date:</strong>
                                            <%= detailsData.last_air_date %>
                                        </li>
                                    <% } %>
                                <% } %>
                                <% if (detailsData.vote_average) { %>
                                    <li class="list-group-item"><strong>Rated:</strong>
                                        <%= detailsData.vote_average %>
                                    </li>
                                <% } %>
                                <% if (detailsData.production_companies) { %>
                                    <li class="list-group-item"><strong>Production Companies:</strong>
                                        <% detailsData.production_companies.forEach(function(company) { %>
                                            <%= company.name %>
                                                <% if (company !==detailsData.production_companies[detailsData.production_companies.length - 1]) { %>, 
                                            <% } %>
                                        <% }) %>
                                    </li>
                                <% } %>
                                <!-- Show status and change its color based on its value -->
                                <% if (detailsData.status) { %>
                                    <li class="list-group-item"><strong>Status:</strong>
                                        <% if (type === 'movie') { %>
                                            <% if (detailsData.status === 'Released') { %>
                                                <span class="badge badge-success">
                                                    <%= detailsData.status %>
                                                </span>
                                            <% } else { %>
                                                <span class="badge badge-danger">
                                                    <%= detailsData.status %>
                                                </span>
                                            <% } %>
                                        <% } else { %>
                                            <% if (detailsData.status === 'Ended') { %>
                                                <span class="badge badge-danger">
                                                    <%= detailsData.status %>
                                                </span>
                                            <% } else { %>
                                                <span class="badge badge-success">
                                                    <%= detailsData.status %>
                                                </span>
                                            <% } %>
                                        <% } %>
                                    </li>
                                <% } %>
                            </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="overview col-md-12">
                        <h3>Plot</h3>
                        <p style="color: white;"><%= detailsData.overview %></p>
                            <hr>
                            <a href="<%= detailsData.homepage %>" target="_blank" class="btn btn-outline-info" style="margin-right: 20px;"><i class="fas fa-globe"></i>
                                View Website</a>
                            <% if (type==='movie' ) { %>
                                <a href="http://imdb.com/title/ <%= detailsData.imdb_id %>" target="_blank"
                                    class="btn btn-outline-warning"><i class="fab fa-imdb"></i> View IMDB</a>
                                <% } %>
                            
                    </div>
                </div>
                
                    <% if (type === 'movie') { %>
                        <% if (detailsData.video && detailsData.video.results.length) { %>
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>Trailer</h3>
                                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/<%= detailsData.video.results[0].key %>"
                                        frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                        <% } %>
                    <% } else { %>
                        <% if (detailsData.seasons && detailsData.seasons.length) { %>
                            <div class="row">
                                <!-- show seasons details in detailsData.seasons in carousel-->
                                <div class="col-md-12">
                                    <h3>Seasons</h3>
                                </div>
                                <div class="scroll-container">
                                    <div id="trending-shows-carousel" class="card-container">
                                    
                                        <% detailsData.seasons.forEach((season) => { %>
                                            <div class="card">
                                            <!-- <img class="card-img-top" src="https://image.tmdb.org/t/p/w500<%= season.poster_path %>" alt="Poster link broken" style="text-align: center; color: white;"> -->
                                            <% if (season.poster_path && season.poster_path !== '404' && season.poster_path !== '500') { %>
                                                <img class="card-img-top" src="https://image.tmdb.org/t/p/w500<%= season.poster_path %>" alt="Show Season <%= season.season_number %> Poster">
                                              <% } else { %>
                                                  <img class="card-img-top" src="/images/show-placeholder.jpg" alt="Placeholder Image">
                                              <% } %>
                                            <div class="card-body">
                                                <h5 class="card-title"><%= season.name %></h5>
                                                <p class="card-text">Air Date: <%= season.air_date %></p>
                                                <p class="card-text">Episode Count: <%= season.episode_count %></p>
                                            </div>
                                            </div>
                                        <% }); %>
                                    </div>
                                </div>
                            </div>
                        <% } %> 
                    <% } %>
                    
                    <% if (recommendationData && recommendationData.length) { %>
                        <div class="row">
                            <!-- show seasons details in recommendationData in carousel-->
                            <div class="col-md-12">
                                <h3>Similar 
                                    <% if (type === 'movie') { %>
                                        Movies
                                    <% } else { %>
                                        TV Shows
                                    <% } %>
                                </h3> 
                            </div>
                            <div class="scroll-container">
                                <div id="trending-shows-carousel" class="card-container">
                                    <% recommendationData.forEach((recommendation) => { %>
                                        <div class="card">
                                        <img class="card-img-top" src="https://image.tmdb.org/t/p/w500<%= recommendation.poster_path %>" alt="Poster link broken" style="text-align: center; color: white;">
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                <a href="/details/<%= type %>/<%= recommendation.id %>" style="text-decoration: none;">
                                                  <% if (type === 'movie') { %>
                                                    <%= recommendation.title %>
                                                  <% } else { %>
                                                    <%= recommendation.name %>
                                                  <% } %>
                                                </a> 
                                              </h5>
                                            <p class="card-text">Rating: <%= recommendation.vote_count %></p>
                                        </div>
                                        </div>
                                    <% }); %>
                                </div>
                            </div>
                        </div>
                    <% } %> 
                    
                    <% if (reviewsData && reviewsData.length) { %>
                        <div class="row">
                            <div class="col-md-12">
                                <h3>Reviews</h3> 
                            </div>
                            <div class="scroll-container">
                                <div id="trending-shows-carousel" class="card-container">
                                    <% reviewsData.forEach((review) => { %>
                                        <div class="card no-hover">
                                            <div class="card-body" style="opacity: 1 ; visibility: visible; position: relative;flex: 1;">
                                                <div class="card-title"  style="display: flex; align-items: center; justify-content: center;">

                                                    <% if (review.author_details.avatar_path) {
                                                        const avatarPath = review.author_details.avatar_path.replace(/^\/+/, '');
                                                    %>
                                                        <img src="<%= avatarPath %>" alt="" class="avatar" style="width: 50px; height: 50px; border-radius: 50%; margin-right: 10px;">
                                                    <% } %>
                                                    <div>
                                                        <h5 style="color:black; margin-bottom: 5px;"><%= review.author %></h5>
                                                        <% if (review.author_details.rating) { %>
                                                            <!-- <p style="color: rgb(52, 52, 52); margin-bottom: 5px;">Rating: <%= review.author_details.rating %>/10</p> -->
                                                            <% const rating = review.author_details.rating; %>
                                                                <p style="color: rgb(52, 52, 52); margin-bottom: 5px;">Rating:
                                                                <% for (let i = 1; i <= 5; i++) { %>
                                                                    <% if (i <= (rating / 2)) { %>
                                                                    <i class="fas fa-star" style="color: gold;"></i>
                                                                    <% } else if (i === Math.ceil(rating / 2) && rating % 2 !== 0) { %>
                                                                    <i class="fas fa-star-half-alt" style="color: gold;"></i>
                                                                    <% } else { %>
                                                                    <i class="far fa-star" style="color: gold;"></i>
                                                                    <% } %>
                                                                <% } %>
                                                                </p>
                                                        <% } %>
                                                        <p style="color: rgb(52, 52, 52); margin-bottom: 0;">Created at: <%= review.formattedDate %> - <%= review.formattedTime %></p>
                                                    </div>
                                                    
                                                </div>
                                                <div class="card-text" style="color: rgb(52, 52, 52)">
                                                    <p><%= review.content %></p>
                                                </div>  

                                            </div>
                                        </div>
                                    <% }); %>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</html>