<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieMate - Home</title>
    <!-- icon is moviemate-logo in images folder -->
    <link rel="icon" href="images/moviemate-logo.png">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.0/dist/css/bootstrap.min.css" /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-black">
        <a class="navbar-brand" href="/"><img src="images/moviemate.png" alt="MovieMate" style="width: auto; height: 30px;"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/"><i class="fas fa-home" style="margin-left: 5px; margin-right: 5px; color: gold;"></i> Home</a>
            </li>
            <li id="search-btn" class="nav-item">
              <a class="nav-link" href="/searchForm"><i class="fas fa-search" style="margin-left: 5px; margin-right: 5px;"></i> Search</a>
            </li>
          </ul>
        </div>
      </nav>
    <div class="container">
        <div class="jumbotron" style="text-align: center;margin-top: 5%;">
            <h1 class="display-4">Welcome to MovieMate</h1>
            <p class="lead">A website to find your favourite movies and TV shows.</p>
        </div>
        <% if (trendingMoviesData && trendingMoviesData.length) { %>
          <div class="row">
              <div class="col-md-12">
                  <h3>Trending Movies</h3> 
              </div>
              <div class="scroll-container">
                <div id="trending-movies-carousel" class="card-container">
                        <% trendingMoviesData.forEach((movie) => { %>
                            <div class="card">
                            <% if (movie.poster_path && movie.poster_path !== '404' && movie.poster_path !== '500') { %>
                              <img class="card-img-top" src="https://image.tmdb.org/t/p/w500<%= movie.poster_path %>" alt="Movie Poster">
                            <% } else { %>
                                <img class="card-img-top" src="/images/movie-placeholder.jpg" alt="Placeholder Image">
                            <% } %>
                            <div class="card-body">
                                <h5 class="card-title"><a href="/details/movie/<%= movie.id %>" style="text-decoration: none;"><%= movie.title %></a></h5>
                                <p class="card-text">Release Date: <%= movie.release_date %></p>
                                <p class="card-text">Rating: <%= movie.vote_average %></p>
                            </div>
                            </div>
                        <% }); %>
                </div>
              </div>
          </div>
        <% } %>
        <% if (upcomingMoviesData && upcomingMoviesData.length) { %>
          <div class="row">
              <div class="col-md-12">
                  <h3>Upcoming Movies</h3> 
              </div>
              <div class="scroll-container">
                <div id="trending-movies-carousel" class="card-container">
                        <% upcomingMoviesData.forEach((movie) => { %>
                            <div class="card">
                              <% if (movie.poster_path && movie.poster_path !== '404' && movie.poster_path !== '500') { %>
                                <img class="card-img-top" src="https://image.tmdb.org/t/p/w500<%= movie.poster_path %>" alt="Movie Poster">
                              <% } else { %>
                                  <img class="card-img-top" src="/images/movie-placeholder.jpg" alt="Placeholder Image">
                              <% } %>
                            <div class="card-body">
                                <h5 class="card-title"><a href="/details/movie/<%= movie.id %>" style="text-decoration: none;"><%= movie.title %></a></h5>
                                <p class="card-text">Release Date: <%= movie.release_date %></p>
                                <p class="card-text">Rating: <%= movie.vote_average %></p>
                            </div>
                            </div>
                        <% }); %>
                </div>
              </div>
          </div>
        <% } %>
        <% if (popularMoviesData && popularMoviesData.length) { %>
          <div class="row">
              <div class="col-md-12">
                  <h3>Popular Movies</h3> 
              </div>
              <div class="scroll-container">
                <div id="trending-movies-carousel" class="card-container">
                        <% popularMoviesData.forEach((movie) => { %>
                            <div class="card">
                              <% if (movie.poster_path && movie.poster_path !== '404' && movie.poster_path !== '500') { %>
                                <img class="card-img-top" src="https://image.tmdb.org/t/p/w500<%= movie.poster_path %>" alt="Movie Poster">
                              <% } else { %>
                                  <img class="card-img-top" src="/images/movie-placeholder.jpg" alt="Placeholder Image">
                              <% } %>
                            <div class="card-body">
                                <h5 class="card-title"><a href="/details/movie/<%= movie.id %>" style="text-decoration: none;"><%= movie.title %></a></h5>
                                <p class="card-text">Release Date: <%= movie.release_date %></p>
                                <p class="card-text">Rating: <%= movie.vote_average %></p>
                            </div>
                            </div>
                        <% }); %>
                </div>
              </div>
          </div>
        <% } %>
        <% if (topRatedMoviesData && topRatedMoviesData.length) { %>
          <div class="row">
              <div class="col-md-12">
                  <h3>Top Rated Movies</h3> 
              </div>
              <div class="scroll-container">
                <div id="trending-movies-carousel" class="card-container">
                        <% topRatedMoviesData.forEach((movie) => { %>
                            <div class="card">
                              <% if (movie.poster_path && movie.poster_path !== '404' && movie.poster_path !== '500') { %>
                                <img class="card-img-top" src="https://image.tmdb.org/t/p/w500<%= movie.poster_path %>" alt="Movie Poster">
                              <% } else { %>
                                  <img class="card-img-top" src="/images/movie-placeholder.jpg" alt="Placeholder Image">
                              <% } %>
                            <div class="card-body">
                                <h5 class="card-title"><a href="/details/movie/<%= movie.id %>" style="text-decoration: none;"><%= movie.title %></a></h5>
                                <p class="card-text">Release Date: <%= movie.release_date %></p>
                                <p class="card-text">Rating: <%= movie.vote_average %></p>
                            </div>
                            </div>
                        <% }); %>
                </div>
              </div>
          </div>
        <% } %>
        <% if (trendingShowsData && trendingShowsData.length) { %>
          <div class="row">
              <div class="col-md-12">
                  <h3>Trending Shows</h3> 
              </div>
              <div class="scroll-container">
                <div id="trending-shows-carousel" class="card-container">
                        <% trendingShowsData.forEach((show) => { %>
                            <div class="card">
                            <% if (show.poster_path && show.poster_path !== '404' && show.poster_path !== '500') { %>
                              <img class="card-img-top" src="https://image.tmdb.org/t/p/w500<%= show.poster_path %>" alt="Show Poster">
                            <% } else { %>
                                <img class="card-img-top" src="/images/show-placeholder.jpg" alt="Placeholder Image">
                            <% } %>
                            <div class="card-body">
                                <h5 class="card-title"><a href="/details/show/<%= show.id %>" style="text-decoration: none;"><%= show.name %></a></h5>
                                <p class="card-text">First Air Date: <%= show.first_air_date %></p>
                                <p class="card-text">Rating: <%= show.vote_average %></p>
                            </div>
                            </div>
                        <% }); %>
                </div>
              </div>
          </div>
        <% } %>
        <% if (popularShowsData && popularShowsData.length) { %>
          <div class="row">
              <div class="col-md-12">
                  <h3>Popular Shows</h3> 
              </div>
              <div class="scroll-container">
                <div id="trending-shows-carousel" class="card-container">
                        <% popularShowsData.forEach((show) => { %>
                            <div class="card">
                              <% if (show.poster_path && show.poster_path !== '404' && show.poster_path !== '500') { %>
                                <img class="card-img-top" src="https://image.tmdb.org/t/p/w500<%= show.poster_path %>" alt="Show Poster">
                              <% } else { %>
                                  <img class="card-img-top" src="/images/show-placeholder.jpg" alt="Placeholder Image">
                              <% } %>
                            <div class="card-body">
                                <h5 class="card-title"><a href="/details/show/<%= show.id %>" style="text-decoration: none;"><%= show.name %></a></h5>
                                <p class="card-text">First Air Date: <%= show.first_air_date %></p>
                                <p class="card-text">Rating: <%= show.vote_average %></p>
                            </div>
                            </div>
                        <% }); %>
                </div>
              </div>
          </div>
        <% } %>
        <% if (topRatedShowsData && topRatedShowsData.length) { %>
          <div class="row">
              <div class="col-md-12">
                  <h3>Top Rated Shows</h3> 
              </div>
              <div class="scroll-container">
                <div id="trending-shows-carousel" class="card-container">
                        <% topRatedShowsData.forEach((show) => { %>
                            <div class="card">
                              <% if (show.poster_path && show.poster_path !== '404' && show.poster_path !== '500') { %>
                                <img class="card-img-top" src="https://image.tmdb.org/t/p/w500<%= show.poster_path %>" alt="Show Poster">
                              <% } else { %>
                                  <img class="card-img-top" src="/images/show-placeholder.jpg" alt="Placeholder Image">
                              <% } %>
                            <div class="card-body">
                                <h5 class="card-title"><a href="/details/show/<%= show.id %>" style="text-decoration: none;"><%= show.name %></a></h5>
                                <p class="card-text">First Air Date: <%= show.first_air_date %></p>
                                <p class="card-text">Rating: <%= show.vote_average %></p>
                            </div>
                            </div>
                        <% }); %>
                </div>
              </div>
          </div>
        <% } %>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</html>